  body{
    font-size: 18px;
    margin: 50px;
    padding: 50px;
    border: 1px darkorange solid;
    }
          img{
              width: 400px;
          }
          img{
              width: 400px;
          }
  div {
      width: 500px;
      height: 600px;
      background-color: cornflowerblue;
      }